---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ingress.yaml
  - cm.yaml
  - external-secrets.yaml
  - argo-workflow-controller-secret-reader-wl.yaml
  - argo-workflow-cwft-wl-crb.yaml
  - external-secrets-wl.yaml
  - serviceaccount-wl.yaml
  - serviceaccount-argo-workflow-wl.yaml
components: [../../variants/dev]
patchesStrategicMerge: [deployment.yaml, version.yaml, settings.yaml]
