---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: docker-config-wl
spec:
  refreshInterval: 10s
  secretStoreRef:
    name: vault-kv-workloads-secret
    kind: ClusterSecretStore
  target:
    template:
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: '{{ .dockerconfig | toString }}'
    name: docker-config-wl
    creationPolicy: Owner
  data:
    - secretKey: dockerconfig
      remoteRef:
        property: dockerconfig
        key: /<WL_NAME>/dockerconfigjson
